@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$yellow: #ec8d11;
$black: "#000000";
$secondary: rgba(81, 127, 142, 0.26);
$blue: rgba(6, 106, 129, 1);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.d-flex {
  display: flex;
}

.navbar {
  background: #304a6eb2;

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
    gap: 10px;

    li {
      a {
        font-size: 0.8rem;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.hero {
  text-align: center;
  padding: 2rem;

  img {
    width: 300px;
    margin-bottom: -7.1rem;
  }
}

.qoute {
  text-align: center;
  background: #526d7e4d;
  padding-top: 10rem;
  padding-bottom: 3rem;

  h4 {
    color: #0f1c3d;
    margin-bottom: 1rem;
  }

  p {
    color: #0f1c3d;
  }
}

.what {
  padding: 2rem 3rem;

  h4 {
    font-size: 1.1rem;
  }

  .box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
    // border: 1px solid green;

    img {
      width: 300px;
    }

    p {
      width: 40%;
      font-size: 1rem;
    }
  }

  .left-box {
    justify-content: flex-start;
  }

  .right-box {
    justify-content: flex-end;

    p {
      text-align: right;
    }
  }
}

.sekilas {
  padding-bottom: 4rem;

  h4 {
    margin-top: 2rem;
    padding: 2rem 3rem;
    font-size: 1.1rem;
  }

  .d-flex {
    background: rgba(217, 217, 217, 0.31);
    padding: 4rem 3rem;
    padding-right: 0;
    overflow-x: auto;
    gap: 50px;

    .box {
      width: 320px;
      padding: 1rem;
      background: #fff;
      font-size: 1rem;
      box-sizing: border-box;
      height: 200px;

      .user {
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 1rem;
      }

      .c1 {
        color: #ecd96e;
      }

      .c2 {
        color: #638cc0;
      }

      .c3 {
        color: #c5b2a1;
      }

      h5 {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 10px;

        img {
          width: 40px;
        }
      }

      p {
        font-style: italic;
        width: 250px;
        font-size: 0.9rem;
      }
    }
  }
}

footer {
  background: rgba(81, 127, 142, 0.26%);

  .info {
    padding: 4rem 7rem;
    display: flex;
    gap: 50px;
    justify-content: center;

    .box {
      text-align: center;

      h5 {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      a {
        display: block;
        text-decoration: none;
        color: #000;
        font-size: 0.9rem;
      }

      &.img {
        margin-left: 100px;
        margin-right: 100px;

        img {
          text-align: center;
          width: 70%;
          transform: translateY(40px);
        }
      }
    }
  }

  .sosmed {
    background: rgba(48, 74, 110, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1rem;

    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
      }

      p {
        color: #fff;
        font-size: 0.9rem;
      }
    }
  }
}