@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  background: #304a6eb2;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 50px;
  gap: 10px;
}

.navbar ul li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}

.hero {
  text-align: center;
  padding: 2rem;
}

.hero img {
  width: 300px;
  margin-bottom: -7.1rem;
}

.qoute {
  text-align: center;
  background: #526d7e4d;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.qoute h4 {
  color: #0f1c3d;
  margin-bottom: 1rem;
}

.qoute p {
  color: #0f1c3d;
}

.what {
  padding: 2rem 3rem;
}

.what h4 {
  font-size: 1.1rem;
}

.what .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 50px;
}

.what .box img {
  width: 300px;
}

.what .box p {
  width: 40%;
  font-size: 1rem;
}

.what .left-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.what .right-box {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.what .right-box p {
  text-align: right;
}

.sekilas {
  padding-bottom: 4rem;
}

.sekilas h4 {
  margin-top: 2rem;
  padding: 2rem 3rem;
  font-size: 1.1rem;
}

.sekilas .d-flex {
  background: rgba(217, 217, 217, 0.31);
  padding: 4rem 3rem;
  padding-right: 0;
  overflow-x: auto;
  gap: 50px;
}

.sekilas .d-flex .box {
  width: 320px;
  padding: 1rem;
  background: #fff;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 200px;
}

.sekilas .d-flex .box .user {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.sekilas .d-flex .box .c1 {
  color: #ecd96e;
}

.sekilas .d-flex .box .c2 {
  color: #638cc0;
}

.sekilas .d-flex .box .c3 {
  color: #c5b2a1;
}

.sekilas .d-flex .box h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-left: 10px;
}

.sekilas .d-flex .box h5 img {
  width: 40px;
}

.sekilas .d-flex .box p {
  font-style: italic;
  width: 250px;
  font-size: 0.9rem;
}

footer {
  background: rgba(81, 127, 142, 0.26);
}

footer .info {
  padding: 4rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .info .box {
  text-align: center;
}

footer .info .box h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer .info .box a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

footer .info .box.img {
  margin-left: 100px;
  margin-right: 100px;
}

footer .info .box.img img {
  text-align: center;
  width: 70%;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

footer .sosmed {
  background: rgba(48, 74, 110, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 1rem;
}

footer .sosmed .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer .sosmed .col img {
  width: 30px;
}

footer .sosmed .col p {
  color: #fff;
  font-size: 0.9rem;
}
/*# sourceMappingURL=beranda.css.map */