@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

$yellow: #ec8d11;
$black: "#000000";
$secondary: rgba(81, 127, 142, 0.26);
$blue: rgba(6, 106, 129, 1);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.row {
    display: flex;
}

.text-right {
    text-align: right;
}

.d-flex {
    display: flex;
}

.navbar {
    width: 100%;
    background: rgba(48, 74, 110, 0.7);
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;

    .navbar-logo {
        width: 25%;
        padding-right: 30px;
        border-right: 2px solid rgba(48, 74, 110, 0.7);

        img {
            width: 80%;
        }
    }

    .right-box {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 20px;
        gap: 30px;

        ul {
            list-style: none;
            display: flex;
            gap: 25px;

            li {
                a {
                    text-decoration: none;
                    color: #fff;
                }

                &.active {
                    a {
                        color: #ecb114;
                    }
                }
            }
        }

        .search {
            input {
                width: 300px;
                padding: 0.5rem;
                border-radius: 25px 0px 0px 25px;
                border: none;
                background: #d9d9d9;
            }

            button {
                background: #d9d9d9;
                width: 70px;
                padding: 0.5rem;
                border-radius: 0px 25px 25px 0px;
                border: none;

                img {
                    width: 10px;
                }
            }
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 35px;
            }
        }
    }
}

.hero {
    width: 100%;
    position: relative;
    // border: 1px solid green;

    .row {
        display: flex;

        .img-left,
        .img-center,
        .img-right {
            height: 400px;
            width: 100%;
        }

        .img-left {
            background: url(../img/img-left.png);
            background-size: cover;
        }

        .img-center {
            background: url(../img/img-center.png);
            background-size: cover;
            width: 120%;
        }

        .img-right {
            background: url(../img/img-right.png);
            background-size: cover;
        }
    }

    h3 {
        top: 43%;
        left: 15%;
        position: absolute;
        text-align: center;
        font-size: 2rem;
        font-style: italic;
        width: 70%;
        margin: 0 auto;
        background: rgba(255, 190, 88, 0.73);
        padding: 1rem;
    }
}

.info {
    text-align: center;
    padding: 1.5rem 4rem;
    padding-bottom: 5rem;

    h5 {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    .d-flex {
        gap: 70px;

        img {
            width: 50px;
            height: 50px;
            margin-bottom: 0.3rem;
        }

        .title {
            margin-bottom: 0.5rem;
        }
    }
}

.cerita {
    padding-bottom: 4rem;
    background: rgba(217, 217, 217, 0.31);

    h4 {
        padding: 1rem 4rem;
        font-size: 1.1rem;
    }

    .d-flex {
        padding: 1rem 4rem;
        padding-top: 0;

        overflow-x: auto;
        gap: 50px;
        justify-content: space-between;

        .box {
            width: 30%;
            padding: 1rem;
            background: #fff;
            font-size: 1rem;
            box-sizing: border-box;
            height: 170px;

            .user {
                margin-bottom: 1rem;
                font-weight: 400;
                font-size: 1rem;
            }

            h5 {
                display: flex;
                align-items: center;
                gap: 20px;
                padding-left: 10px;

                img {
                    width: 40px;
                }
            }

            .c1 {
                color: #ecd96e;
            }

            .c2 {
                color: #638cc0;
            }

            .c3 {
                color: #c5b2a1;
            }

            p {
                font-style: italic;
                width: 100%;
                font-size: 0.9rem;
            }
        }
    }
}

.me-time {
    background: rgba(197, 178, 161, 0.6);
    width: 100%;
    padding: 3rem 5rem;

    h5,
    p {
        font-weight: 700;
    }

    h5 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
    }

    .canva {
        min-height: 550px;
    }
}

.me-time.curhat {
    h5 {
        margin-bottom: 1rem;
    }

    .box-left,
    .box-right {
        margin-bottom: 1rem;
        display: flex;
        width: 100%;

        p {
            padding: 1rem;
            width: 50%;
            font-weight: 400;
            display: inline-block;
        }
    }

    .box-left {
        p {
            background-color: rgba(182, 182, 182, 0.26);
        }
    }

    .box-right {
        justify-content: flex-end;
        text-align: right;

        p {
            background: rgba(81, 127, 142, 0.26%);
        }
    }

    .canva {
        background: #fff;
        min-height: 400px;
        height: 400px;
        padding: 1rem;
        overflow-x: auto;
    }

    .tool {
        display: flex;

        input {
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            background: rgb(243, 243, 243);
        }

        button {
            border: none;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            background-color: #ec8d11;
            font-weight: 700;
        }
    }
}

.me-time.self-care {
    background: rgba(236, 141, 17, 0.4);

    .canva {
        width: 85%;
        margin: 0 auto;

        .row {
            display: flex;
            flex-wrap: wrap;

            .col {
                width: 33%;
                padding: 1rem;

                .card {
                    border-radius: 15px;

                    text-align: center;
                    height: 170px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .c1 {
                    background: rgba(6, 106, 129, 0.5);
                }

                .c2 {
                    background: rgba(236, 141, 17, 0.5);
                }

                .c3 {
                    background: #ecd96e;
                }

                .c4 {
                    background: #304a6e;
                }

                .c5 {
                    background: #638cc0;
                }

                .c6 {
                    background: #ecb114;
                }
            }
        }
    }
}

.konsultasi {
    .banner {
        background: rgba(236, 177, 40, 0.4);

        .row {
            display: flex;

            .col {
                width: 50%;
                text-align: center;

                img {
                    width: 85%;
                }

                h3 {
                    font-size: 3rem;
                }

                &.text {
                    padding: 3.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                }
            }
        }
    }

    .what {
        text-align: center;
        padding: 5rem 4rem;

        .title {
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
    }

    .yuk {
        background: rgba(81, 127, 142, 0.26);
        padding: 2rem;
        text-align: center;

        h4 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }

        .tagline {
            font-size: 1.1rem;
            text-decoration: underline;
            color: #304a6e;
        }

        .btn-primary {
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
            color: #000;
            background: #ecb114;
            padding: 0.7rem 5rem;
            border-radius: 25px;
        }
    }

    .peringatan {
        padding: 2rem;
        padding-bottom: 0;
        text-align: center;
        background: #c5b2a1;

        h4 {
            font-size: 1.5rem;
            font-family: "Economica", sans-serif;
            margin-bottom: 2rem;
        }

        img {
            width: 350px;
            margin-bottom: -70px;
            margin-right: -50px;
        }
    }
}

.rekomendasi {
    h4 {
        text-align: center;
        font-family: "Viga", sans-serif;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .music {
        padding-top: 1.5rem;
        background: rgba(197, 178, 161, 0.49);

        h5 {
            padding: 1rem 3rem;
            font-size: 1rem;
            padding-bottom: 0.5rem;
        }

        ul {
            padding: 1rem 3rem;
            padding-top: 0;
            padding-bottom: 0.5rem;
            display: flex;
            list-style: none;

            li {
                a {
                    font-size: 0.9rem;
                    text-decoration: none;
                    color: #304a6e;
                    font-weight: 700;
                    margin-right: 20px;
                }
            }
        }

        .select-gendre {
            font-size: 0.9rem;
            font-weight: 700;
            padding: 1rem 3rem;
            padding-top: 0;
            padding-bottom: 0;
        }

        .list-music {
            padding: 1rem 2rem;
            padding-top: 0rem;
            width: 100%;

            .row {
                width: 100%;
                overflow-x: auto;

                .col {
                    // width: 400px;
                    padding: 1.5rem;
                    box-sizing: border-box;

                    .card {
                        width: 100%;
                        padding: 1rem;
                        background: rgb(15, 15, 15);
                        color: #fff;
                        border-radius: 25px;
                        font-size: 0.9rem;
                        width: 205px;

                        img {
                            border-radius: 10px;
                            width: 100%;
                            margin-bottom: 0.5rem;
                        }

                        .title {
                            font-weight: 700;
                            margin-bottom: 0.5rem;
                        }

                        .year {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }

    .book {
        background: rgba(197, 178, 161, 0.49);

        h5 {
            padding: 1rem 3rem;
            font-size: 1rem;
        }

        .list-book {
            padding: 1rem 2rem;
            background: rgba(81, 127, 142, 0.26);
            padding-bottom: 2.5rem;
            width: 100%;

            .row {
                width: 100%;
                overflow-x: auto;

                .col {
                    padding: 1.5rem;

                    img {
                        width: 207px;
                    }
                }
            }
        }
    }

    .tour {
        padding-top: 1rem;
        background: rgba(197, 178, 161, 0.49);

        h5 {
            padding: 1rem 3rem;
            font-size: 1rem;
        }

        .list {
            padding: 1rem 2rem;
            overflow-x: auto;

            .col {
                width: 33%;
                padding: 1.5rem;

                img {
                    width: 400px;
                    height: 300px;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    .tour.motivasi {
        .list {
            .row {
                overflow-x: auto;
            }

            .col {
                width: 100%;

                img {
                    width: 380px;
                    height: inherit;
                }
            }
        }
    }
}

.tentang {
    background: #D9D9D9;
    padding: 3rem;

    h4 {
        font-family: "Viga";
        font-size: 1.2rem;
        margin-bottom: 2.5rem;
    }

    p {
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

.about {
    background: rgba(236, 177, 20, 0.4);
    padding: 2rem 4rem;

    .row {

        .img {
            width: 40%;

            .profile {
                display: flex;
                align-items: center;
                gap: 50px;
                margin-bottom: 2rem;

                img {
                    width: 200px;
                }

                h4 {
                    font-size: 1.4rem;
                }
            }

            p {
                font-weight: 700;
                padding-left: 10px;
                margin-bottom: .5rem;
            }

            ul {
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    padding-bottom: .5rem;

                    img {
                        width: 30px;
                        margin-right: 20px;
                    }

                    span {
                        font-size: .9rem;
                    }
                }
            }
        }

        .desk {
            width: 60%;
            padding-top: 5rem;

            p {
                margin-bottom: 1rem;

                span {
                    font-size: 1.4rem;
                    font-weight: 700;
                }
            }
        }
    }
}

footer {
    background: rgba(81, 127, 142, 0.26%);

    .info {
        padding: 4rem 7rem;
        display: flex;
        gap: 50px;
        justify-content: center;

        .box {
            text-align: center;

            h5 {
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            a {
                display: block;
                text-decoration: none;
                color: #000;
                font-size: 0.9rem;
            }

            &.img {
                margin-left: 100px;
                margin-right: 100px;

                img {
                    text-align: center;
                    width: 70%;
                    transform: translateY(40px);
                }
            }
        }
    }

    .sosmed {
        background: rgba(48, 74, 110, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 1rem;

        .col {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
                width: 30px;
            }

            p {
                color: #fff;
                font-size: 0.9rem;
            }
        }
    }
}
