@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  width: 100%;
  background: rgba(48, 74, 110, 0.7);
  padding: 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-logo {
  width: 25%;
  padding-right: 30px;
  border-right: 2px solid rgba(48, 74, 110, 0.7);
}

.navbar .navbar-logo img {
  width: 80%;
}

.navbar .right-box {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20px;
  gap: 30px;
}

.navbar .right-box ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.navbar .right-box ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar .right-box ul li.active a {
  color: #ecb114;
}

.navbar .right-box .search input {
  width: 260px;
  padding: 0.5rem;
  border-radius: 25px 0px 0px 25px;
  border: none;
  background: #d9d9d9;
}

.navbar .right-box .search button {
  background: #d9d9d9;
  width: 70px;
  padding: 0.5rem;
  border-radius: 0px 25px 25px 0px;
  border: none;
}

.navbar .right-box .search button img {
  width: 10px;
}

.navbar .right-box .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .right-box .profile img {
  width: 35px;
}

.hero {
  width: 100%;
  position: relative;
}

.hero .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .row .img-left,
.hero .row .img-center,
.hero .row .img-right {
  height: 400px;
  width: 100%;
}

.hero .row .img-left {
  background: url(../img/img-left.png);
  background-size: cover;
}

.hero .row .img-center {
  background: url(../img/img-center.png);
  background-size: cover;
  width: 120%;
}

.hero .row .img-right {
  background: url(../img/img-right.png);
  background-size: cover;
}

.hero h3 {
  top: 43%;
  left: 15%;
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  width: 70%;
  margin: 0 auto;
  background: rgba(255, 190, 88, 0.73);
  padding: 1rem;
}

.info {
  text-align: center;
  padding: 1.5rem 4rem;
  padding-bottom: 5rem;
}

.info h5 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.info .d-flex {
  gap: 70px;
}

.info .d-flex img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.3rem;
}

.info .d-flex .title {
  margin-bottom: 0.5rem;
}

.cerita {
  padding-bottom: 4rem;
  background: rgba(217, 217, 217, 0.31);
}

.cerita h4 {
  padding: 1rem 4rem;
  font-size: 1.1rem;
}

.cerita .d-flex {
  padding: 1rem 4rem;
  padding-top: 0;
  overflow-x: auto;
  gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cerita .d-flex .box {
  width: 30%;
  padding: 1rem;
  background: #fff;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 170px;
}

.cerita .d-flex .box .user {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.cerita .d-flex .box h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-left: 10px;
}

.cerita .d-flex .box h5 img {
  width: 40px;
}

.cerita .d-flex .box .c1 {
  color: #ecd96e;
}

.cerita .d-flex .box .c2 {
  color: #638cc0;
}

.cerita .d-flex .box .c3 {
  color: #c5b2a1;
}

.cerita .d-flex .box p {
  font-style: italic;
  width: 100%;
  font-size: 0.9rem;
}

.me-time {
  background: rgba(197, 178, 161, 0.6);
  width: 100%;
  padding: 3rem 5rem;
}

.me-time h5,
.me-time p {
  font-weight: 700;
}

.me-time h5 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.me-time p {
  font-size: 1rem;
}

.me-time .canva {
  min-height: 550px;
}

.me-time.curhat h5 {
  margin-bottom: 1rem;
}

.me-time.curhat .box-left,
.me-time.curhat .box-right {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.me-time.curhat .box-left p,
.me-time.curhat .box-right p {
  padding: 1rem;
  width: 50%;
  font-weight: 400;
  display: inline-block;
}

.me-time.curhat .box-left p {
  background-color: rgba(182, 182, 182, 0.26);
}

.me-time.curhat .box-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.me-time.curhat .box-right p {
  background: rgba(81, 127, 142, 0.26);
}

.me-time.curhat .canva {
  background: #fff;
  min-height: 400px;
  height: 400px;
  padding: 1rem;
  overflow-x: auto;
}

.me-time.curhat .tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.me-time.curhat .tool input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: #f3f3f3;
}

.me-time.curhat .tool button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #ec8d11;
  font-weight: 700;
}

.me-time.self-care {
  background: rgba(236, 141, 17, 0.4);
}

.me-time.self-care .canva {
  width: 85%;
  margin: 0 auto;
}

.me-time.self-care .canva .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.me-time.self-care .canva .row .col {
  width: 33%;
  padding: 1rem;
}

.me-time.self-care .canva .row .col .card {
  border-radius: 15px;
  text-align: center;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.me-time.self-care .canva .row .col .c1 {
  background: rgba(6, 106, 129, 0.5);
}

.me-time.self-care .canva .row .col .c2 {
  background: rgba(236, 141, 17, 0.5);
}

.me-time.self-care .canva .row .col .c3 {
  background: #ecd96e;
}

.me-time.self-care .canva .row .col .c4 {
  background: #304a6e;
}

.me-time.self-care .canva .row .col .c5 {
  background: #638cc0;
}

.me-time.self-care .canva .row .col .c6 {
  background: #ecb114;
}

.konsultasi .banner {
  background: rgba(236, 177, 40, 0.4);
}

.konsultasi .banner .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.konsultasi .banner .row .col {
  width: 50%;
  text-align: center;
}

.konsultasi .banner .row .col img {
  width: 85%;
}

.konsultasi .banner .row .col h3 {
  font-size: 3rem;
}

.konsultasi .banner .row .col.text {
  padding: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.konsultasi .what {
  text-align: center;
  padding: 5rem 4rem;
}

.konsultasi .what .title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.konsultasi .yuk {
  background: rgba(81, 127, 142, 0.26);
  padding: 2rem;
  text-align: center;
}

.konsultasi .yuk h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.konsultasi .yuk p {
  margin-bottom: 1rem;
}

.konsultasi .yuk .tagline {
  font-size: 1.1rem;
  text-decoration: underline;
  color: #304a6e;
}

.konsultasi .yuk .btn-primary {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  background: #ecb114;
  padding: 0.7rem 5rem;
  border-radius: 25px;
}

.konsultasi .peringatan {
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  background: #c5b2a1;
}

.konsultasi .peringatan h4 {
  font-size: 1.5rem;
  font-family: "Economica", sans-serif;
  margin-bottom: 2rem;
}

.konsultasi .peringatan img {
  width: 350px;
  margin-bottom: -70px;
  margin-right: -50px;
}

.rekomendasi h4 {
  text-align: center;
  font-family: "Viga", sans-serif;
  font-size: 1.2rem;
  padding: 1.5rem;
}

.rekomendasi .music {
  padding-top: 1.5rem;
  background: rgba(197, 178, 161, 0.49);
}

.rekomendasi .music h5 {
  padding: 1rem 3rem;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.rekomendasi .music ul {
  padding: 1rem 3rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.rekomendasi .music ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #304a6e;
  font-weight: 700;
  margin-right: 20px;
}

.rekomendasi .music .select-gendre {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1rem 3rem;
  padding-top: 0;
  padding-bottom: 0;
}

.rekomendasi .music .list-music {
  padding: 1rem 2rem;
  padding-top: 0rem;
  width: 100%;
}

.rekomendasi .music .list-music .row {
  width: 100%;
  overflow-x: auto;
}

.rekomendasi .music .list-music .row .col {
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rekomendasi .music .list-music .row .col .card {
  width: 100%;
  padding: 1rem;
  background: #0f0f0f;
  color: #fff;
  border-radius: 25px;
  font-size: 0.9rem;
  width: 205px;
}

.rekomendasi .music .list-music .row .col .card img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.rekomendasi .music .list-music .row .col .card .title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.rekomendasi .music .list-music .row .col .card .year {
  margin-bottom: 1rem;
}

.rekomendasi .book {
  background: rgba(197, 178, 161, 0.49);
}

.rekomendasi .book h5 {
  padding: 1rem 3rem;
  font-size: 1rem;
}

.rekomendasi .book .list-book {
  padding: 1rem 2rem;
  background: rgba(81, 127, 142, 0.26);
  padding-bottom: 2.5rem;
  width: 100%;
}

.rekomendasi .book .list-book .row {
  width: 100%;
  overflow-x: auto;
}

.rekomendasi .book .list-book .row .col {
  padding: 1.5rem;
}

.rekomendasi .book .list-book .row .col img {
  width: 207px;
}

.rekomendasi .tour {
  padding-top: 1rem;
  background: rgba(197, 178, 161, 0.49);
}

.rekomendasi .tour h5 {
  padding: 1rem 3rem;
  font-size: 1rem;
}

.rekomendasi .tour .list {
  padding: 1rem 2rem;
  overflow-x: auto;
}

.rekomendasi .tour .list .col {
  width: 33%;
  padding: 1.5rem;
}

.rekomendasi .tour .list .col img {
  width: 400px;
  height: 300px;
  margin-bottom: 1.5rem;
}

.rekomendasi .tour.motivasi .list .row {
  overflow-x: auto;
}

.rekomendasi .tour.motivasi .list .col {
  width: 100%;
}

.rekomendasi .tour.motivasi .list .col img {
  width: 380px;
  height: inherit;
}

.tentang {
  background: #D9D9D9;
  padding: 3rem;
}

.tentang h4 {
  font-family: "Viga";
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.tentang p {
  text-align: center;
  margin-bottom: 1.5rem;
}

.about {
  background: rgba(236, 177, 20, 0.4);
  padding: 2rem 4rem;
}

.about .row .img {
  width: 40%;
}

.about .row .img .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-bottom: 2rem;
}

.about .row .img .profile img {
  width: 200px;
}

.about .row .img .profile h4 {
  font-size: 1.4rem;
}

.about .row .img p {
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: .5rem;
}

.about .row .img ul {
  list-style: none;
}

.about .row .img ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .5rem;
}

.about .row .img ul li img {
  width: 30px;
  margin-right: 20px;
}

.about .row .img ul li span {
  font-size: .9rem;
}

.about .row .desk {
  width: 60%;
  padding-top: 5rem;
}

.about .row .desk p {
  margin-bottom: 1rem;
}

.about .row .desk p span {
  font-size: 1.4rem;
  font-weight: 700;
}

footer {
  background: rgba(81, 127, 142, 0.26);
}

footer .info {
  padding: 4rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .info .box {
  text-align: center;
}

footer .info .box h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer .info .box a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

footer .info .box.img {
  margin-left: 100px;
  margin-right: 100px;
}

footer .info .box.img img {
  text-align: center;
  width: 70%;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

footer .sosmed {
  background: rgba(48, 74, 110, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 1rem;
}

footer .sosmed .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer .sosmed .col img {
  width: 30px;
}

footer .sosmed .col p {
  color: #fff;
  font-size: 0.9rem;
}
/*# sourceMappingURL=dashboard.css.map */