html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.nav-link::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-color {
  background: url("../assets/img/head.png") no-repeat center center;
  background-size: cover;
  transform: all ease-in-out 0.5s;
}

.bg-transparent {
  transform: all ease-in 0.3s;
}
