@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$yellow: #ec8d11;
$black: "#000000";
$secondary: rgba(81, 127, 142, 0.26);
$blue: rgba(6, 106, 129, 1);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.btn-yellow {
  color: $black;
  background: $yellow;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 25px;
  border: none;
}

.text-yellow {
  color: $yellow;
}

.text-blue {
  color: $blue;
}

.text-center {
  text-align: center;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .card {
    background: $secondary;
    width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 25px;

    h4 {
      text-transform: uppercase;
      text-align: center;
      color: $blue;
      font-size: 1.1rem;
    }

    .img {
      text-align: center;

      img {
        width: 90px;
      }
    }

    label {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 0.8rem;
      font-weight: 700;
    }

    input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 25px;
      font-size: 0.8rem;
      padding: 10px 20px;
      margin-bottom: 5px;
    }

    .btn-yellow {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 10px;
      font-weight: 700;
    }

    span {
      display: block;
      margin-bottom: 5px;
      font-size: 0.8rem;
      font-weight: 700;
    }

    img.medsos {
      width: 30px;
      margin: 0 5px;
      margin-top: 10px;
    }
  }
}
