@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.btn-yellow {
  color: "#000000";
  background: #ec8d11;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 25px;
  border: none;
}

.text-yellow {
  color: #ec8d11;
}

.text-blue {
  color: #066a81;
}

.text-center {
  text-align: center;
}

.login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.login .card {
  background: rgba(81, 127, 142, 0.26);
  width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 25px;
}

.login .card h4 {
  text-transform: uppercase;
  text-align: center;
  color: #066a81;
  font-size: 1.1rem;
}

.login .card .img {
  text-align: center;
}

.login .card .img img {
  width: 90px;
}

.login .card label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}

.login .card input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: 0.8rem;
  padding: 10px 20px;
  margin-bottom: 5px;
}

.login .card .btn-yellow {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.login .card span {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}

.login .card img.medsos {
  width: 30px;
  margin: 0 5px;
  margin-top: 10px;
}
/*# sourceMappingURL=login.css.map */